[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "thirdparty/luajit"]
	path = thirdparty/luajit
	url = https://github.com/LuaDist/luajit.git
